.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1em 0 0 -1em;
}
.card-wrapper {
  flex: 0 0 33.3333%;
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    flex: 0 0 100%;
  }

  /* Landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    flex: 0 0 50%;
  }
  @media screen and (max-width: 800px){
    flex: 0 0 50%;
  }
  @media screen and (max-width: 600px){
    flex: 0 0 100%;
  }
  // flex-grow: 3;
  // margin: 0 $card-margin $base-spacing $card-margin;
  padding: 1em 0 0 1em;
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-color: #F8F2B4;

  background-color: $card-background;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  flex-basis: 15em;
  position: relative;
  transition: all 0.2s ease-in-out;

  .card-images {
    width: 70%;
    margin: 40px auto;
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      width: 100%;
    }

    /* Landscape */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      width: 100%;
    }
    @media screen and (max-width: 800px){
      width: 100%;
    }
    @media screen and (max-width: 600px){
      width: 100%;
    }
    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }
  .card-image {
    height: 250px;
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      height: 600px;
      max-height: 600px;
    }

    /* Landscape */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      height: 600px;
      max-height: 600px;
    }
    @media screen and (max-width: 800px){
      height: 400px;
      max-height: 400px;
    }
    @media screen and (max-width: 600px){
      height: 400px;
      max-height: 400px;
    }
    max-height: 250px;
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    span {
      flex: 0 0 50%;
    }
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    details {
      margin-top: 15px;
    }

    p {
      margin: 0 0 ($base-spacing / 2);
    }
    dl {
      flex: 0 0 25%;
      display: inline-block;
      dt { font-weight: normal; }
      dd {
        font-weight: bold;
        font-size: 1.3em;
      }
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
